[Unit]
Description=Meresco API-slave Server
After=meresco-lucene-server.service meresco-lucene-server.service

[Service]
User=meresco
ExecStart=/home/meresco/meresco/narcisindex/bin/start-sruslave --port=8006 --lucenePort=8001 --stateDir=/data/meresco/api
Restart=on-failure


[Install]
WantedBy=multi-user.target